<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>

  <header class="navbar">
    <div class="left-group">
      <%- include('partials/logo') %> 
      <%- include('partials/nav') %>
    </div>
  </header>

  <div class="container">
    <aside class="pane pane-left">
      <table>
        <tbody>
          <th>Players</th>
           <% if (playerList.length > 0) { %>
             <% playerList.forEach(player => { %>
                <tr>
                  <td><a href="/player?id=<%= player.id %>"> <%= player.name %> <%= player.lastname %></a></td>
                </tr>
             <% }); %>
           <% } else { %>
              <tr>
                <td>No players found.</td>
              </tr>
           <% } %>
           <tr>
             <td>
      <form action="/player/add" method="GET">
        <button type="submit" name="action" class="add">Add</button>
      </form>
             </td>
             <td><!-- --></td>
           </tr>
        </tbody>
      </table>
    </aside>

    <section class="pane pane-middle">
      <div>Main Content Area</div>
    </section>

    <aside class="pane pane-right">
      <div class="">Right Sidebar</div>
    </aside>
  </div>

</body>
</html>
