<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>

  <header class="navbar">
    <div class="left-group">
      <%- include('partials/logo') %>
      <%- include('partials/nav') %>
    </div>
  </header>

  <div class="container">
    <aside class="pane pane-left">
      <table>
        <tbody>
          <tr>
            <td colspan="2"><%= player.name %> <%= player.lastname %></th>
          </tr>
          <% if (accounts.length > 0) {%>
            <% accounts.forEach(account => { %>
              <tr><td><%= account.name %></td><td><%= account.accountname %> </td></tr>
            <% }); %>
          <% } %>
           <tr>
             <td>
               <form action="/" method="GET">
                 <button type="submit" name="cancel" class="add">Go Back</button>
               </form>
               </td><td>
               <form action="/account/add" method="GET">
                 <button type="submit" name="playerId" value="<%= player.id %>"class="add">Add Account</button>
               </form>
             </td>
           </tr>
        </tbody>
      </table>
    </aside>

    <section class="pane pane-middle">
      <% if (accounts.length === 0) {%>
       <div>No chess acounts found for <%= player.name %> <%= player.lastname %>.
            Please add chess account.</div> 
      <% } else { %>
        <div></div>
      <% } %>
    </section>

    <aside class="pane pane-right">
      <div class=""></div>
    </aside>
  </div>

</body>
</html>
