<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>

  <header class="navbar">
    <div class="left-group">
      <%- include('partials/logo') %>
      <%- include('partials/nav') %>
    </div>
  </header>

  <div class="container">
    <aside class="pane pane-left">
      <table>
        <tbody>
          <tr>
            <td colspan="2"><%= player.name %> <%= player.lastname %></th>
          </tr>
          <% if (accounts.length > 0) {%>
            <% accounts.forEach(account => { %>
              <tr><td><%= account.name %></td><td><%= account.accountname %> </td></tr>
            <% }); %>
          <% } %>
           <tr>
             <td>
               <form action="/" method="GET">
                 <button type="submit" name="cancel" class="add">Go Back</button>
               </form>
               </td><td>
               <form action="/account/add" method="GET">
                 <button type="submit" name="playerId" value="<%= player.id %>"class="add">Add Account</button>
               </form>
             </td>
           </tr>
        </tbody>
      </table>
    </aside>

  <section class="pane pane-middle">
      <% if (accounts.length === 0) {%>
       <div>No chess acounts found for <%= player.name %> <%= player.lastname %>.
            Please add chess account.</div> 
      <% } else { %>
        <div>

          <% if (games.length === 0) { %>
            No games found in the database. If cronjobs are set, they should be downloaded after midnight. 
          <% } else {%>

           <div class="pagination" style="text-align: center;">
             <table>
             <tr><td style="text-align: left;">
             <% if (currentPage > 1) { %>
               <a href="/player?id=<%= player.id %>&page=<%= currentPage - 1 %>" class="btn-paging">Previous</a>
             <% } %>
             </td><td style="text-align: right;">
             <% if (hasNextPage) { %>
               <a href="/player?id=<%= player.id %>&page=<%= currentPage + 1 %>" class="btn-paging">Next</a>
             <% } %>
             </td></tr>
             </table>
           </div>

           <table>
             <thead>
               <tr>
                 <th>White</th>
                 <th>Black</th>
                 <th>Result</th>
                 <th>Time Control</th>
                 <th>Date</th>
               </tr>
             </thead>
             <tbody>
               <% games.forEach(game => { %>
                 <tr onclick="window.location='game?id=<%= game.id %>&player=<%=player.id%>';" style="cursor: pointer;">
                   <td><%= game.white %></td>
                   <td><%= game.black %></td>
                   <td><%= game.result %></td>
                   <td><%= game.time_control %></td>
                   <td><%= game.date%></td>
                 </tr>
               <% }) %>
             </tbody>
           </table>

           <div class="pagination" style="text-align: center;">
             <table>
             <tr><td style="text-align: left;">
             <% if (currentPage > 1) { %>
               <a href="/player?id=<%= player.id %>&page=<%= currentPage - 1 %>" class="btn-paging">Previous</a>
             <% } %>
             </td><td style="text-align: right;">
             <% if (hasNextPage) { %>
               <a href="/player?id=<%= player.id %>&page=<%= currentPage + 1 %>" class="btn-paging">Next</a>
             <% } %>
             </td></tr>
             </table>
           </div>

          <% } %>

        </div>
      <% } %>
    </section>

    <aside class="pane pane-right">
      <div class=""></div>
    </aside>
  </div>

</body>
</html>
